* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif, monospace;
}

.nav-bar-wrapper {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
}

.nav-img {
    height: 225px;
    width: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
}

nav a {
    color: grey;
    text-decoration: none;
}

nav a:hover {
    color: rgb(103, 139, 240);
}

.nav-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    color: rgb(103, 139, 240);
    transition: 0.3s ease-in-out;
}

.nav-home:hover, .nav-features:hover, .nav-learn:hover, .nav-pricing:hover, .nav-hire-us:hover {
    color: rgb(103, 139, 240);
    transform: scale(1.3);
    text-decoration: none;
}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(103, 139, 240);
    color: white;
    height: 50px;
    width: 100px;
    border-radius: 25px 25px 25px 25px;
    border: 1px solid rgb(103, 139, 240);
    transition: 0.3s ease-in-out;
}

.nav-button:hover {
    background-color: white;
    color: rgb(103, 139, 240);
    border: 1px solid rgb(103, 139, 240);
    transform: scale(1.1);
}

.top-background-img {
    display: flex;
    width: 100%;
    height: 500px;
}

.header-wrapper {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/bg/background-top.svg");
}

.header-left-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 50%;
    height: 500px;
    gap: 30px;
    padding-left: 35px;
}

.top-header-text {
    display: flex;
    flex-flow: row wrap;
    width: 300px;
    height: 100px;
    font-size: 28px;
}

.top-header-text-small {
    color: grey;
    font-size: 20px;
}

.header-button-learn-more {
    display: flex;
}

.header-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(103, 139, 240);
    color: white;
    height: 50px;
    width: 150px;
    border-radius: 25px 25px 25px 25px;
    border: 1px solid rgb(103, 139, 240);
    transition: 0.3s ease-in-out;
    gap: 10px;
}

.header-button:hover {
    background-color: white;
    color: rgb(103, 139, 240);
    border: 1px solid rgb(103, 139, 240);
    transform: scale(1.1);
}

.header-button>img {
    width: 20px;
    height: 20px;
    color: white;
    border-radius: 50%;
}

.learn-more {
    color: gray;
    text-decoration: none;
    transform: 1s ease-in-out;
}

.learn-more:hover {
    transform: scale(1.1);
    color: rgb(103, 139, 240);
}

.header-right-logos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 400px;
    width: 50%;
    gap: 50px;
    margin: 50px 0px 50px 50px;
}

.header-right-icons-row-one {
    display: flex;
    flex-flow: row nowrap;
    height: 125px;
    padding: 15px;
    animation: slide-in;
    animation-duration: 3s;
}

.header-right-icons-row-two {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 125px;
    animation: slide-in;
    animation-duration: 3s;
}

.header-right-row-three {
    display: flex;
    flex-flow: row nowrap;
    height: 125px;
    padding-left: 70px;
    animation: slide-up;
    animation-duration: 3s;
}

.header-right-row-four {
    display: flex;
    flex-flow: row nowrap;
    height: 125px;
    padding-left: 250px;
    animation: slide-up;
    animation-duration: 3s;
}

.google-icon-wrapper, .google-ads-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px white solid;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    box-shadow: 0px 1px 5px 5px grey;
}

.google-icon, .google-ads-icon {
    height: 60px;
    width: 60px;
}

.atlassian-icon-wrapper, .asana-icon-wrapper, .paypal-icon-wrapper, .weave-icon-wrapper, .calendar-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px white solid;
    border-radius: 50%;
    background-color: white;
    height: 100px;
    width: 100px;
    box-shadow: 0px 1px 5px 5px grey;
}

.atlassian-icon, .asana-icon, .paypal-icon, .weave-icon, .calendar-icon {
    height: 60px;
    width: 60px;
}

.google-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.atlassian-icon-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    padding-left: 25px;
}

.asana-icon-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 25%;
}

.paypal-icon-container, .google-ads-icon-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    
}

.weave-icon-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 50%;
}

.calender-icon-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 50%;
}

.why-front-section-container {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
}

.why-front-header {
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

.why-front-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.why-front-small-text {
    display: flex;
    flex-flow: row wrap;
    width: 600px;
    color: grey;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.why-front-bullet-list-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;
}

.why-front-bullet-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    width: 100%;
    padding: 20px;
}

.basic-elements-container, .components-container, .combined-components-container, .page-layouts-container {
    display: flex;
    flex-direction: column;
    width:25%;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#bullet-one, #bullet-two, #bullet-three, #bullet-four {
    border: 5px solid blue;
    border-radius: 50%;
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .outline-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.outlineone, .outlinetwo, .outlinethree {
    border: 1px solid grey;
    width: 10%;
    height: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.bullet-one-wrapper, .bullet-two-wrapper, .bullet-three-wrapper, .bullet-four-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: aliceblue;
    border: aliceblue 1px solid;
    box-shadow: 0px 1px 5px 5px grey;
    border-radius: 50%;
}

.pricing-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pricing-top-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    gap: 20px;
}

.pricing-text {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing-text-small {
    text-align: center;
    color: grey;
}

.pricing-section-top-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.pricing-section-bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    height: 600px;
    gap: 30px;
    padding-bottom: 50px;
}

.price-left-box {
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 33%;
    height: 400px;
    padding: 25px;
    gap: 50px;
    transition: 0.3s ease-in-out;
}

.price-left-box:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 33%;
    height: 400px;
    border: grey 1px solid;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 1px 5px 5px grey;
    margin-left: 20px;
    padding: 25px;
    gap: 50px;
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.price-left-box-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 150px;
    gap: 35px;
    font-size: 30px;
    border-bottom: 2px grey solid;
}

.price-box-text {
    color: grey;
    text-align: center;
}

.price-per-month {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    color: grey;
}

.price-left-box-button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price-button-container-text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: grey;
}

.price-right-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.price-right-box-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    row-gap: 30px;
}

.puzzle-icon, .diamond-icon, .cancel-icon, .moneyback-icon {
    height: 50px;
    width: 50px;
    transition: ease-in-out;
    transition-duration: 1s;
}

.puzzle-icon:hover, .diamond-icon:hover, .cancel-icon:hover, .moneyback-icon:hover {
    transform: scale(1.3);
}

.price-right-top-right-icon, .price-right-top-left-icon, .price-right-bottom-left-icon, .price-right-bottom-right-icon {
    transition: ease-in-out;
    transition-duration: 3s;
}

.price-right-top-left-box, .price-right-top-right-box, .price-right-bottom-left-box, .price-right-bottom-right-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    gap: 20px;
    transition: ease-in-out;
    transition-duration: 3s;
}

.price-right-bottom-left-header-text-container {
    display: flex;
    gap: 35px;
}

.sketch-button {
    border: 1px solid rgb(72, 187, 187);
    background-color: rgb(72, 187, 187);
    border-radius: 25px 25px 25px 25px;
    color: white;
    width: 75px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.price-right-bottom-right-text, .price-right-bottom-text-small, .price-right-top-right-text-small, .price-right-top-left-text-small {
    display: flex;
    flex-flow: row wrap;
    color: grey;
    width: 75%;
}

.form-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 900px;
    background-color: rgb(16, 36, 91);
    padding: 30px;
}

.hire-us-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 840px;
    padding: 30px;
    gap: 50px;
}

.hire-us-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    gap: 50px;
}

.hire-us, .quote-person-name {
    display: flex;
    color: white;
}

.hire-us-text-small, .position-title-text-small {
    display: flex;
    color: grey;
}

.hire-us-quote {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-top: 2px solid grey;
    color: white;
    width: 100%;
    padding-top: 50px;
}

.hire-us-quote-person-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
}



.person-img-small {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 50%;
    border-radius: 10px;
    height: 840px;
    padding: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 25px;
}

.form-top-text {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.form-text-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.first-last-name-input-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 50px;
}

.first-name, .last-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    border: 1px solid grey;
    border-radius: 8px;
}

.email-container {
    width: 100%;
}

.form-email {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.email {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    border: 1px solid grey;
    border-radius: 8px;
}

.label-first-name, .label-last-name, .tell-us-more-text-area {
    display: none;
}

.select-options-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
}

.budget-container, .country-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 50px;
    width: 100%;
}

.budget-selection, .country-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    border: 1px solid grey;
    border-radius: 8px;
}

.text-area-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.text-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* resize: none; */
}

.text-area-comments {
    resize: none;
}

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 25px;
}

.extra-emails {
    width: 25px;
    height: 25px;
}

.view-privacy-policy-option {
    color: grey;
    text-decoration: underline dashed 1px;
}

.view-privacy-policy-option:hover {
    transform: scale(1.1);
    color: rgb(103, 139, 240);
}

.submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(103, 139, 240);
    color: white;
    height: 50px;
    width: 150px;
    border-radius: 25px 25px 25px 25px;
    border: 1px solid rgb(103, 139, 240);
    transition: 0.3s ease-in-out;
    gap: 10px;
}

.submit-btn:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.footer-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 250px;
    background-color: white;
    padding: 30px;
    gap: 30px;
    transition: 0.3s ease-in-out;
}

.footer-contact-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.footer-address, .footer-phone {
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
}

.footer-contact-info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.nav-img-footer {
    width: 175px;
}

.phone, .pointer, .help-icon, .your-account-icon {
    width: 15px;
    height: 15px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-pointer-icon, .footer-phone-icon, .help-icon, .your-account-icon {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}

.company-container, .features-container, .documentation-container, .resources-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.company-list, .features-list, .documentation-list, .resources-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
}

.company-list-items, .features-list-items, .documentation-items-list, .resources-items-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    flex-direction: column;
}

.help-icon-container, .your-account-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.career-option {
    display: flex;
    width: 100%;
    gap: 10px;
}

.werehiring-box {
    border: 1px solid rgb(103, 139, 240);
    background-color: rgb(103, 139, 240);
    border-radius: 25px 25px 25px 25px;
    color: white;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    padding: 4px;
    gap: 4px;
    transition: 0.3s ease-in-out;
}

.werehiring-box:hover {
    transform: scale(1.3);
}

.about:hover, .career:hover, .blog:hover, .customers:hover, .hire-us-footer:hover, .support:hover, .docs:hover, .status:hover, .api-reference:hover, .tech-requirements:hover, .press:hover, .release-notes:hover, .integrations:hover, .pricing:hover, .help:hover, .your-account:hover {
    color: rgb(103, 139, 240);
    transform: scale(1.1);
}

.about, .career, .blog, .customers, .hire-us-footer, .press, .release-notes, .integrations, .pricing, .support, .docs, .status, .api-reference, .tech-requirements, .help, .your-account {
    color: grey;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }

  10% {
    transform: scale(1.3);
  }
}

